<div class="main-dashboard">
  <div class="inner-board">

  <div class="row" style="padding:0">
    <div class="col-md-4">
      <div class="profile">
        <img src="images/Backgrounds/bg_1.jpg" />
      </div>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="stat">
        <div class="inner_stat">

        <div class="number">
          <i class="hf-weights"></i>
          76
          <span>lb</span>
        </div>
        <div class="title">
          body weight
        </div>
        <div class="graph">
          <div style="height:100px;width:100%;margin:0;padding:0" line-chart line-data='spark' line-xkey="sort" line-ykeys="['datapoint']" line-lineWidth=2 line-labels='["name"]' line-resize='true' line-axes='false' line-pointsize='0' line-hidehover="'always'" line-grid='false' line-colors="['#F05F8D']">
          </div>
          </div>

      </div>
    </div>
    </div>
    <div class="col-sm-3">
      <div class="stat">
        <div class="inner_stat">

        <div class="number">
          <i class="hf-arm"></i>
          20
          <span>%</span>
        </div>
        <div class="title">
          Muscle Percentage
        </div>
        <div class="graph">
          <div style="height:100px;width:100%;margin:0;padding:0" line-chart line-data='spark' line-xkey="sort" line-ykeys="['datapoint']" line-lineWidth=2 line-labels='["name"]' line-resize='true' line-axes='false' line-pointsize='0' line-hidehover="'always'" line-grid='false' line-colors="['#F05F8D']">
          </div>
          </div>

        </div>
      </div>

    </div>
    <div class="col-sm-3">
      <div class="stat selected">
        <div class="inner_stat">

        <div class="number">
          <i class="hf-arm"></i>
          17
          <span>%</span>
        </div>
        <div class="title">
          Fat Percentage
        </div>
        <div class="graph">
          <div style="height:100px;width:100%;margin:0;padding:0" line-chart line-data='spark' line-xkey="sort" line-ykeys="['datapoint']" line-lineWidth=2 line-labels='["name"]' line-resize='true' line-axes='false' line-pointsize='0' line-hidehover="'always'" line-grid='false' line-colors="['#F05F8D']">
          </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="stat">
        <div class="inner_stat">

        <div class="number">
          <i class="hf-arm"></i>
          17
          <span>%</span>
        </div>
        <div class="title">
          Fat Percentage
        </div>
        <div class="graph">
          <div style="height:100px;width:100%;margin:0;padding:0" line-chart line-data='spark' line-xkey="sort" line-ykeys="['datapoint']" line-lineWidth=2 line-labels='["name"]' line-resize='true' line-axes='false' line-pointsize='0' line-hidehover="'always'" line-grid='false' line-colors="['#F05F8D']">
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="stat">
        <div class="inner_stat">

        <div class="number">
          <i class="hf-arm"></i>
          17
          <span>%</span>
        </div>
        <div class="title">
          Fat Percentage
        </div>
        <div class="graph">
          <div style="height:100px;width:100%;margin:0;padding:0" line-chart line-data='spark' line-xkey="sort" line-ykeys="['datapoint']" line-lineWidth=2 line-labels='["name"]' line-resize='true' line-axes='false' line-pointsize='0' line-hidehover="'always'" line-grid='false' line-colors="['#F05F8D']">
          </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="stat">
        <div class="inner_stat">

        <div class="number">
          <i class="hf-arm"></i>
          17
          <span>%</span>
        </div>
        <div class="title">
          Fat Percentage
        </div>
        <div class="graph">
          <div style="height:100px;width:100%;margin:0;padding:0" line-chart line-data='spark' line-xkey="sort" line-ykeys="['datapoint']" line-lineWidth=2 line-labels='["name"]' line-resize='true' line-axes='false' line-pointsize='0' line-hidehover="'always'" line-grid='false' line-colors="['#F05F8D']">
          </div>
          </div>

        </div>
      </div>

    </div>
    <div class="col-sm-3">
      <div class="stat selected">
        <div class="inner_stat">

        <div class="number">
          <i class="hf-arm"></i>
          17
          <span>%</span>
        </div>
        <div class="title">
          Fat Percentage
        </div>
        <div class="graph">
          <div style="height:100px;width:100%;margin:0;padding:0" line-chart line-data='spark' line-xkey="sort" line-ykeys="['datapoint']" line-lineWidth=2 line-labels='["name"]' line-resize='true' line-axes='false' line-pointsize='0' line-hidehover="'always'" line-grid='false' line-colors="['#F05F8D']">
          </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="stat">
        <div class="inner_stat">

        <div class="number">
          <i class="hf-arm"></i>
          17
          <span>%</span>
        </div>
        <div class="title">
          Fat Percentage
        </div>
        <div class="graph">
          <div style="height:100px;width:100%;margin:0;padding:0" line-chart line-data='spark' line-xkey="sort" line-ykeys="['datapoint']" line-lineWidth=2 line-labels='["name"]' line-resize='true' line-axes='false' line-pointsize='0' line-hidehover="'always'" line-grid='false' line-colors="['#F05F8D']">
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row" style="padding:0">
    <div class="col-md-12">
      <div class="full_stat">

      </div>
    </div>
  </div>
</div>
</div>
