<div class="main-dashboard">
  <div class="inner-board">

  <div class="row">
    <div class="col-md-4">
      <div class="profile">
        <img src="images/Backgrounds/Lady_Waiting.jpg" />
      </div>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="stat">
        a
      </div>
    </div>
    <div class="col-sm-3">
      <div class="stat">

      </div>

    </div>
    <div class="col-sm-3">
      <div class="stat selected">

      </div>
    </div>
    <div class="col-sm-3">
      <div class="stat selected">
b
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="stat">
        a
      </div>
    </div>
    <div class="col-sm-3">
      <div class="stat">

      </div>

    </div>
    <div class="col-sm-3">
      <div class="stat selected">

      </div>
    </div>
    <div class="col-sm-3">
      <div class="stat selected">
b
      </div>
    </div>
  </div>
</div>
</div>
